#upload-form
	p Nazwa pliku: 
		= file.name
	p Format pliku: 
		= file.filetype
	p Ściągnij:
	li 
		a(href="/file/#{file._id}/json/#{file.name}.json") JSON
	li
		a(href="/file/#{file._id}/xml/#{file.name}.xml") XML
	li
		a(href="/file/#{file._id}/sql/#{file.name}.sql") SQL